---
import Layout from "../layouts/Layout.astro";
import { sanityClient } from "sanity:client";

const getMediaInfoQuery = `*[_type == "mediaInfo"]{
  phoneNumbers[] {
    number,
    description
  },
  email,
  legalAddress,
  addressText,
  image { asset-> { url } }
}[0]`

const mediaInfo = await sanityClient.fetch(getMediaInfoQuery)
---

<Layout>
  <section class="bg-white p-4 md:p-8 overflow-hidden flex flex-col md:flex-row gap-8">
    <!-- Левая часть: текст -->
    <div class="w-full md:w-1/2">
      <h2 class="text-4xl md:text-6xl font-bold text-[#000C5F] mb-8" style="font-family: 'Days One', sans-serif;">Для СМИ</h2>
      
      <div class="text-base md:text-lg font-[Geologica] space-y-4">
        {mediaInfo.phoneNumbers.map((phone => (
          <div>
            <p class="text-gray-700">{phone.number}</p>
            <p class="text-gray-500">{phone.description}</p>
          </div>
        )))}
        
        <div>
          <p class="font-semibold text-xl md:text-2xl">{mediaInfo.legalAddress}</p>
          <p class="text-gray-500">{mediaInfo.addressText}</p>
        </div>

<div>
          <p class="font-semibold text-xl">{mediaInfo.email}</p>
        </div>
      </div>
    </div>

    <!-- Правая часть: изображение -->
    <div class="w-full md:w-1/2 flex items-center justify-center">
      <img src={mediaInfo.image.asset.url} alt="Для СМИ" class="rounded-lg shadow-lg w-full h-auto object-cover">
    </div>
  </section>
</Layout>
