---
import Layout from "../layouts/Layout.astro";
import { sanityClient } from "sanity:client";

const fileUrl = Astro.url.searchParams.get("fileUrl");
const title = Astro.url.searchParams.get("title");
const documentType = Astro.url.searchParams.get("documentType");
const files = Astro.url.searchParams.get("files")
  ? JSON.parse(Astro.url.searchParams.get("files"))
  : [];
const content = Astro.url.searchParams.get("content");

const id = Astro.url.searchParams.get("id");
// const getParagraphs = `*[_id == "${id}"][0] {
// paragraphs
// }`;
// const paragraphs = await sanityClient.fetch(getParagraphs);
---

<Layout>
  <div class="p-6 font-[Geologica]">
    <h1 class="text-2xl font-bold mb-4">{title}</h1>
    {
      content && (
        <div class="text-gray-800">
          <p>{content}</p>
        </div>
      )
    }
    {
      documentType === "file" && fileUrl && (
        <>
          <iframe
            src={fileUrl}
            class="w-full h-screen border-2 border-gray-300"
            title={title}
          />
          <a
            href={fileUrl}
            download
            class="mt-4 inline-block text-blue-600 hover:underline"
          >
            Скачать файл
          </a>
        </>
      )
    }

    {
      documentType === "fileList" && files.length > 0 && (
        <ul class="space-y-2">
          {files.map((file) => (
            <li>
              {file.fileUrl && (
                <>
                  {/* <h2 class="font-[Geologica] text-2xl">
                    <PortableText value={file.title} />
                  </h2> */}
                  <h2 class="font-[Geologica] text-2xl">
                    {file.title.length > 50
                      ? `${file.title.substr(0, 50)}...`
                      : file.title}
                  </h2>
                  <a
                    href={file.fileUrl}
                    download
                    target="_blank"
                    class="text-blue-600 hover:underline"
                  >
                    ({file.fileName})
                  </a>
                </>
              )}
            </li>
          ))}
        </ul>
      )
    },
    <!-- {
      paragraphs.paragraphs && (
        <ul class="space-y-2">
          {paragraphs.paragraphs.map((paragraph) => (
            <li>
              {paragraph.paragraph && (
                <>
                  <p>{paragraph.paragraph}</p>
                </>
              )}
            </li>
          ))}
        </ul>
      )
    } -->
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll("a[download]").forEach(function (link) {
        link.addEventListener("click", function (event) {
          event.preventDefault();
          const href = this.getAttribute("href");
          const filename = this.getAttribute("download");
          const xhr = new XMLHttpRequest();
          xhr.open("GET", href, true);
          xhr.responseType = "blob";
          xhr.onload = function () {
            const blob = xhr.response;
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.href = url;
            a.download = filename;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            window.URL.revokeObjectURL(url);
          };
          xhr.send();
        });
      });
    });
  </script>
</Layout>
